# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/**
!.idea/scopes/**
!.idea/copyright/**

# gradle
build
.gradle

# other
eclipse
run/**
forge-1.8.9/run/**
fabric-1.17.1/run/**
!**/*.gitkeep
