# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/**
!.idea/scopes/**
!.idea/copyright/**

# gradle
build
.gradle

# other
eclipse
run/**
!**/*.gitkeep

# i cloned the repo here cuz why
addons
