name: Gradle (1.18)

on:
  push:
    branches: [ '1.18' ]
    paths-ignore:
      - "README.md"
      - "LICENSE.md"
      - ".gitignore"
      - ".editorconfig"
      - "/run"
      - ".github/*.yml"
  pull_request:
    branches: [ '1.18' ]
    paths-ignore:
      - "README.md"
      - "LICENSE.md"
      - ".gitignore"
      - ".editorconfig"
      - "/run"
      - ".github/*.yml"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Setup and Build with Gradle
      run: ./gradlew setupCIWorkspace build --no-daemon
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2.2.4
      with:
        path: build/libs
